body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

header .logo-studio {
  color: #2e2f42;
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.167;
}

header nav.page-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-nav a:hover,
.page-nav a:focus {
  color: #404bbf;
}

header address.email-phone {
  font-style: normal;
  letter-spacing: 0.04em;
}

header address.email-phone a {
  color: #434455;
}

address.email-phone a:hover,
address.email-phone a:focus {
  color: #404bbf;
}

.hero-sec {
  background-color: #2e2f42;
}

.hero-sec h1 {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-sec .order {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.hero-sec .order:hover,
.hero-sec .order:focus {
  background-color: #404bbf;
}

.features h3,
.team h3,
.portfolio h3 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.features p,
.team p,
.portfolio p,
footer p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.team {
  background-color: #f4f4fd;
}

.team h2,
.portfolio h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.team li {
  background-color: #fff;
  text-align: center;
}

.portfolio li {
  background-color: #fff;
}

footer {
  background-color: #2e2f42;
}

footer .logo-studio {
  color: #fff;
}

footer p {
  color: #f4f4fd;
}
