body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}

.logo-studio {
  color: #2e2f42;
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.167;
}

.nav-option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-option:hover,
.nav-option:focus {
  color: #404bbf;
}

.email-phone {
  font-style: normal;
}

.contacts {
  color: #434455;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.hero-sec {
  background-color: #2e2f42;
}

.main-heading {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-btn {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.sub-subheading {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.body-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.subheading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.team li {
  background-color: #fff;
  text-align: center;
}

.portfolio li {
  background-color: #fff;
}

footer {
  background-color: #2e2f42;
}

footer .logo-studio {
  color: #f4f4fd;
}

.slogan {
  color: #f4f4fd;
}
